.full-width {
    background-image:url(/assets/images/login_bg.jpeg);
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
}

.login-form {
    padding: 10px 35px 35px 35px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;

    h1 {
        margin-bottom: 40px;
    }

    .mat-form-field {
        width: 100%;
    }

    .login-button {
        font-size: 20px;
        line-height: 40px;
    }

    .error-message {
        color: red;
    }
}